@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #333;
}

header {
    background: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: red;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    background: #fafafa;
}

.hero-text {
    max-width: 600px;
    margin-left: 100px;
}

.hero-text h1 {
    font-size: 32px;
}

.hero-text h1 span {
    color: red;
}

.hero-text p {
    margin: 20px 0;
    font-size: 16px;
}

.hero-text button,
.section button {
    padding: 10px 20px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.hero-image img,
.section img,
.products img {
    max-width: 75%;
}

.section {
    background: #f5f5f5;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-text {
    max-width: 600px;
}

.section-text h2 span {
    color: red;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 60px 50px;
}

.product-item {
    text-align: center;
    max-width: 300px;
}

.product-item h3 {
    margin: 20px 0 10px;
}

footer {
    background: white;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    border-top: 1px solid #eee;
}

.footer-section {
    text-align: center;
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-logo {
    max-width: 100px;
    margin-bottom: 10px;
}

h4 {
    margin: 0 0 10px 0;
}

p {
    margin: 4px 0;
}

.read-more-button {
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

.read-more-button:hover {
    background-color: #c0392b;
}

.logo {
    max-width: 70px;
}

.copyright {
    background: #e61937;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}